/* Punki's Variables */
@pale-gray-1: #EBEBEB; /* Main background color */
@pale-gray-2: #DFE2E2; /* Secondary background color */
@pale-gray-3: #97A6A6; /* Border color */
@gray-1: #474747; /* Text */
@gray-2: #292929; /* Text */
@blue-1: #6B7676; /* Link color and some accents */
@blue-2: #949E9E; /* Link hover color and most accents */ 
@white: #FFFFFF;
@banner-text: #FFFFFF; /* Banner text color */
@decorative-font: "Josefin Sans"; /* Large font */
@small-font: "Raleway"; /* Smaller text font */